/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:800); */
@import url("https://fonts.googleapis.com/css?family=Ubuntu");

#world{
/* background: #232020; */
position: absolute;
width: 100%;
height: 100%;
overflow: hidden;
/* background-image: url(../img/water.jpg); */
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
.navbar-collapse{
  box-shadow: none!important;
}
.background{
  background: #232020;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../img/1.png);
}
#instructions{
  position:absolute;
  width:100%;
  top:50%;
  margin: auto;
  margin-top:80px;
     font-family: Ubuntu;
  color:#fff;
  font-size:1.2em;
  
  text-align : center;
}
.navbar-brand>img{
  width: 165px;
}
#credits{
  position:absolute;
  width:100%;
  margin: auto;
  bottom:0;
  margin-bottom:20px;
     font-family: Ubuntu;
  color:#fff;
  font-size:0.7em;
  
  text-align : center;
}
#credits a {
  color:#fff;
}
#stats{
display: none!important;
}
#content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Ubuntu;
  color: #fff;
}
#content h1{
      font-size: 42px;
}
#content h1,
#content p {
  margin: -8rem 0 0 1rem;
  text-shadow: 1px 1px 1px black;
}

#content p {
  margin-top: 0.5rem;
  font-size: 20px;
}
#license {
  position: absolute;
  color: #000000;
  bottom: 5px;
  font-size: 12px;
  right: 16px;
  text-decoration: none;
  margin: 0 auto;
  width: 100%;
  display: block;
  text-align: center;
}
.navbar-nav>li>a,.nav>li>a:focus, .nav>li>a:hover{
  background: transparent;
  color: #fff !important;
  font-weight: 300;
  /* font-family: Ubuntu !important; */
  padding-top: 26px;
  letter-spacing: 1px;
  font-size: 12px;
}
@media screen and (max-width:767px){
  .navbar-brand>img {
    width: 120px;
}
#license{
      margin-right: -16px;
}
.navbar-nav>li>a, .nav>li>a:focus, .nav>li>a:hover{
      padding-top: 0px;
    font-size: 9px;
    padding-bottom: 0px;
    text-align: right;
}
/* #instructions{
      top: 66%;
} */
#navbar{
      display: inline-block;
    float: right;
    position: relative;
    top: -43px;
}
}